@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  z-index: 100;
  /* border-bottom:1px solid var(--color-very-light-gray); */
  /* background-color: rgb(78, 226, 78); */
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 1em;
  display: flex;
  background-color:transparent;
  height:12vh;


  @media (--media-min-small) {
    padding: 1.5em 1.5em;
  }
}

.branding {
  font-weight: bold;
  flex: 1;
  color: --color-black;
  position: inherit;
  margin-left: -30px;
  margin-top: -8px;

    @media (--media-min-small) {
    margin-top:-40px;
  }

  

  @nest & img {
    display: inline-block;
    /* padding: 0.2em 0em; */
    color: inherit;
    text-decoration: none;


    @media (hover: hover) {
      @nest &:hover {
        opacity: 0.75;
        transition-duration:0.2s;
      }
    }
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin-top: 1.5rem;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: rgb(0, 0, 0);


  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;

  @nest & ul {
    margin: 0;
    padding: 2em 0em;
    font-weight:bold;
  }

  @nest & img {
    width:30px;
    margin-left: 1.8em;
    margin-top:1em;

    @media (--media-min-small) {
    margin-left:10px;
    margin-top:0px;
  }
  }

      @media (--media-min-small) {
    margin-top:-40px;
  }

  @nest & ul li a {
    display: block;
    color: rgb(49, 49, 49);
    text-decoration: none;
  }

  @media (hover: hover) {
    @nest & ul li a:hover {
      /* color: var(--color-accent); */
      opacity: 0.5;
      transition-duration:0.2s;
    }
  }

  @media (--media-max-small) {
    position: absolute;
    background: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 5.9rem;
    border-radius:3px;
    /* text-align:center; */

    @nest & ul {
      padding: 1rem 0;
    }

    @nest & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (--media-min-small) {
    display: block;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    @nest & ul li a {
      padding: 0.5rem;
    }
  }
}

.showNav {
  display: block;
}
