.root {
  display: block;
  color: inherit;
  text-decoration: none;
  min-height: 25rem ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius:5px;
  padding:1rem;


}

.root:hover {
  transform: scale(1.10) translateZ(0);
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
  text-decoration: none;
}


.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: #eee;
  


  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;


  }
}

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: none;

    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}
